---
import Page from '../../layouts/Page.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog', ({data}) => !data.hidden)).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---
<Page>
	<p><a href="/">../</a></p>

	<h1>All Blog posts</h1>
	{
		posts.map((post) => (
			<h2><a href={`/blog/${post.slug}/`}>{post.data.title}</a></h2>
			<p>{post.data.description}</p>
		))
	}
</Page>