---
import Page from "../layouts/Page.astro"
---

<Page>
	<p><a href="/">../</a></p>
	<h2>About Me</h2>

	<p>Hi, I am Brieuc Desoutter. I was born and raised in France. I studied computer science and started my career there.</p>

	<p>In 2008, I moved to Brussels, Belgium, where I met my wife in 2013. We got married in 2015.</p>

	<p>
		Two kids later, we needed a change and in 2020, we moved to Saudi Arabia wehre I currently live. 
		We have a good life there but I really miss the trees from Belgium and the Alps... And a job!
		I hope to relocate back to France soon...
	</p>
</Page>
