---
import Page from "../layouts/Page.astro"
---

<Page>
	<p><a href="/">../</a></p>
	<h2>About Me</h2>

	<p>Hi, I am Brieuc Desoutter. I like sciences (mostly mathematics and physics) and computers, with a special interest for programming languages.</p>

	<p>
		Hence I ended up becoming a software engineer. I did mostly Java, from version 1.4 to Java 11, gave up on C++ more times than there are standards now (what is it? C++23 now?),
		and did a bit of Python too. In my last professional gig, I got to deal with a messy "untyped" Typescript code base (aka 'any' everywhere) and decided: "No more!". So I am now focusing on Rust
		and Haskell.
	</p>
	
	<p>
		I was born and raise in France. I studied computer science and started my career there. 
		In 2008, I moved to Brussels, Belgium, where I met my wife in 2013. We got married in 2015.
	</p>

	<p>
		Two kids later, we needed a change and in 2020, we moved to Saudi Arabia where I currently live. 
		We have a good life there but I really miss the trees from Belgium and the Alps... And a job!
		I hope to relocate back to France soon...
	</p>
</Page>
