<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body class="basic">
    <div class="banner flex-row">
      <header>
        <p class="prompt">{{ site.Title }}</p>
      </header>
      <nav>
        {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
      </nav>
    </div>
    <div class="content">
      <main>
        {{ block "main" . }}{{ end }}
      </main>
      <footer>
        <p>{{ .Site.Copyright }}. All rights reserved.</p>
      </footer>
    </div>
</body>
</html>
