{{ define "main" }}
<div class="home flex-row">
  <section class="home-infos flex-col">
    <img alt="A monochromatic self-portrait." src="/img/face_512.jpg">
    <div class="home-infos-links flex-col">
      <p>Links</p>
      <ul>
        <li><a href="{{ .Site.Params.LinkedIn_url }}">LinkedIn</a></li>
        <li><a href="{{ .Site.Params.GitHub_url }}">GitHub</a></li>
      </ul>
    </div>
  </section>
  <section class="home-main">
    {{ .Content }}

    <h2>Latest Posts</h2>
    {{ $latest_posts := first 5 (where site.RegularPages "Type" "in" "posts").ByLastmod.Reverse }}
    {{ with $latest_posts }}
      <ul>
        {{ range $latest_posts }}
        <li>
          <a href="{{ .RelPermalink }}">{{ .LinkTitle }}: {{ .Description }}</a>
        </li>
        {{ end }}
      </ul>
    {{ else }} 
      <p>No much to see yet. It's a work in progress. Come check again soon!</p>
    {{ end }}

  </section>
</div>
{{ end }}
