---
import type { CollectionEntry } from 'astro:content';
import Page from './Page.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, pubDate, updatedDate, tags = [] } = Astro.props;
---

<Page>
	<p><a href="/blog/">../</a></p>
	<article>
		<h1>{title}</h1>
		<p>Last update <FormattedDate date={updatedDate || pubDate}/></p>
		{tags.length > 0 && (
			<p class="post-tags">
				{tags.map((tag: string) => (
					<a class="tag" href={`/blog/?tag=${tag}`}>{tag}</a>
				))}
			</p>
		)}
		<slot />
	</article>
</Page>