---
import Head from "../components/Head.astro";
import Banner from "../components/Banner.astro";
import Footer from "../components/Footer.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---
<!doctype html>
<html lang="en">
	<head>
		<Head title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="basic">
		<script src="https://cdnjs.com/libraries/prism/prismjs/components/prism-core.min.js"></script>
		<script src="https://cdnjs.com/libraries/prism/prismjs/components/prism-autoloader.min.js"></script>
		<Banner />
		<div class="content">
			<main>
                <slot />
			</main>
			<Footer />
		</div>
	</body>
</html>