---
import Head from "../components/Head.astro";
import Banner from "../components/Banner.astro";
import Footer from "../components/Footer.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---
<!doctype html>
<html lang="en">
	<head>

		<!-- Google tag (gtag.js) -->
		<script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-E05V0M6FVY" is:inline></script>
		<script type="texst/partytown" is:inline>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-E05V0M6FVY');
		</script>

		<Head title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	
	<body class="basic">
		<Banner />
		<div class="content">
			<main>
                <slot />
			</main>
			<Footer />
		</div>
	</body>
</html>
